name: Autograding Tests
'on':
- workflow_dispatch
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Main
      id: main
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Main
        setup-command: javac WordAnalysis.java
        command: java WordAnalysis
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        MAIN_RESULTS: "${{steps.main.outputs.result}}"
      with:
        runners: main
